<!-- <app-demo-form></app-demo-form> -->

<mat-form-field appearance="fill">
  <mat-label>SMS Options</mat-label>
  <mat-select [formControl]="smsOptions" [(value)]="selected"
  (selectionChange)='onOptionsSelected($event)'>
    <mat-select-trigger>
      {{smsOptions.value ? smsOptions.value[0] : ''}}
      <span *ngIf="smsOptions.value?.length > 1" class="example-additional-selection">
        (+{{smsOptions.value.length - 1}} {{smsOptions.value?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let smsOption of smsOptionArr" [value]="smsOption">{{smsOption}}</mat-option>
  </mat-select>
</mat-form-field>

<p>{{smsResult}}</p>

<form [formGroup]="form" (ngSubmit)="onCheckSMS()">
  <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
  <button type="submit" class="btn btn-primary">Check</button>
</form>
<br>
<br>
<br>
<!-- <div style="font-size: 30px">{{result}}</div> -->